:root {
  --color-primary-background: #fff;
  --color-primary-text: #654062;
  --color-secondary-text: #888;
  --color-border: #ddd;
  --color-border-focus: #a685e2;
  --color-primary-button: #949cdf;
  --color-secondary-button: #ff4646;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  color: var(--color-primary-text);
}